@import "templates/variables";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: {
    color: transparentize(whitesmoke, 0.1);
    image: url("../images/bg.png");
    size: cover;
    position: center;
    blend-mode: overlay;
    attachment: fixed;
  }
  @include noScroll;

  #side-menu {
    position: fixed;
    top: $line * 2;
    left: $line * 2;

    .side-menu-button {
      position: relative;
      display: block;
      width: $line * 5;
      height: $line * 5;
      border: {
        radius: 50%;
        width: $line / 5;
        style: solid;
        color: $yellow;
        top-color: $blue;
        right-color: $green;
        bottom-color: $darkBlue;
      }
      background: {
        color: transparentize($yellow, 0.7);
      }
      transform: translateX(-200%);
      transition: {
        duration: $time;
        timing-function: linear;
      }

      &.visible {
        transform: translateX(0);
      }

      .stick {
        display: block;
        position: absolute;
        left: 20%;
        width: $line * 3;
        height: $line / 2;
        background: {
          color: $green;
        }
        border: {
          radius: $line;
        }
        transition: {
          duration: $time;
          timing-function: linear;
        }

        &:first-child {
          top: 35%;
        }

        &:last-child {
          bottom: 35%;
        }
      }

      &.button-active {

        .stick {
          top: 45%;
          left: 20%;

          &:first-child {
            transform: rotate(45deg);
          }

          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }

      &:hover {
        box-shadow: 0 0 0 $line / 2 transparentize($darkYellow, 0.8);
        background: {
          color: transparentize($yellow, 0.5);
        }
        cursor: pointer;

        .stick {
          left: 22%;
          background: {
            color: $green;
          }

          &:first-child {
            transform: rotate(20deg);
          }

          &:last-child {
            transform: rotate(-20deg);
          }
        }

        &.button-active {

          .stick {
            top: 45%;
            left: 20%;

            &:first-child {
              transform: rotate(45deg);
            }

            &:last-child {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .side-menu-item {
        position: relative;
        display: block;
        padding: $line * 1.5 $line * 4;
        margin: 0 0 $line;
        font: {
          size: $line * 2;
          weight: bold;
        }
        color: black;
        text: {
          decoration: none;
        }
        background: {
          color: $blue;
        }
        transform: translateX(-150%);
        transition: {
          duration: $time;
        }

        @for $i from 1 through 7 {
          &:nth-child(#{8 - $i}) {
            transition: {
              delay: ($i / 3) * $time;
            }
          }
        }

        &.menu-open {
          transform: translateX(0);
          box-shadow: $shadow;
          z-index: 1000;

          @for $i from 1 through 7 {
            &:nth-child(#{$i}) {
              transition: {
                duration: $time;
                delay: ($i / 3) * $time;
              }
            }
          }
        }

        &::before {
          display: block;
          content: "";
          width: $line / 1.5;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: {
            color: #3681e4;
          }
          transform: scaleY(0);
          transition: {
            duration: $time;
          }
        }

        &:first-child {
          margin: $line / 2 0 $line 0;
        }

        &:nth-child(2) {
          cursor: pointer;
        }

        &:hover {

          &::before {
            transform: scaleY(1);
          }
        }
      }
    }
  }

  #up-button {
    @include button($yellow);
    position: fixed;
    bottom: 40%;
    right: $line * 2;
    width: $line * 5;
    height: $line * 5;
    border: {
      radius: 50%;
      width: $line / 5;
      style: solid;
      color: $yellow;
      top-color: $blue;
      right-color: $green;
      bottom-color: $darkBlue;
    }
    font: {
      size: $line * 2;
      family: Ico;
      weight: normal;
    }
    color: $green;
    transform: translateX(200%);

    &.visible {
      transform: translateX(0);
    }
  }

  #schedule {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: {
      x: hidden;
      y: scroll;
    }
    background: {
      color: lighten($darkGreen, 70%);
    }
    z-index: 10;
    transform: translateY(-100%);
    transition: {
      duration: $time * 3;
    }
    @include noScroll;
    box-shadow: 0 $line / -2 0 0 $darkGreen inset;

    nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      height: 10%;
      max-height: $line * 15;
      margin: 0;
      padding: $line / 2 0;

      button {
        flex-basis: 15%;
        margin: 0 0 0 $line * 1.5;
        @include button($green);
        border: {
          radius: 0;
        }
        box-shadow: $shadow;

        &.current {
          @include button($darkYellow);
          border: {
            radius: 0;
          }
        }

        &:first-of-type {
          margin-left: auto;
        }

        &:nth-last-of-type(2) {
          margin-right: auto;
        }

        &#close-schedule {
          @include button($yellow);
          box-shadow: none;
          position: relative;
          padding: $line;
          margin: 0 $line * 2 0 0;
          width: $line * 5;
          flex-basis: $line * 5;
          height: $line * 5;
          align-self: center;
          justify-self: flex-end;
          border: {
            radius: 50%;
            width: $line / 5;
            style: solid;
            color: $yellow;
            top-color: $blue;
            right-color: $green;
            bottom-color: $darkBlue;
          }

          &::before,
          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 45%;
            left: 17%;
            width: $line * 3;
            height: $line / 2;
            background: {
              color: $green;
            }
            border: {
              radius: $line;
            }
          }

          &::before {
            transform: rotate(45deg);
          }

          &::after {
            transform: rotate(-45deg);
          }
        }
      }
    }

    [class$="course"] {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      table {
        border: {
          collapse: collapse;
        }
        margin: $line;
        box-shadow: $shadow;

        caption {
          font: {
            size: $line * 2;
            weight: bold;
          }
          color: $darkYellow;
        }

        tr {

          th {
            text: {
              align: center;
            }
            padding: $line / 2;
            background: transparentize($yellow, 0.5);
            border: $line / 2 solid white;
          }

          td {
            background: {
              color: transparentize($darkYellow, 0.9);
            }
            border: $line / 5 solid transparentize($yellow, 0.5);
            padding: $line / 2;

            &:last-of-type {
              border-right: none;
            }
          }

          &:last-of-type {
            td {
              border-bottom: none;
            }
          }
        }
      }
    }

    &.show {
      transform: none;
    }
  }

  #header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background: {
      color: transparentize(white, 0.3);
    }
    padding: 0 $line $line $line * 20;
    margin: 0 0 $line 0;
    box-shadow: 0 $line / 5 $line / 2 0 $darkGreen;
    min-height: $line * 16;

    .logo {
      position: absolute;
      left: 0;
      padding: $line;
      height: $line * 15;
    }

    #rss,
    .link {
      margin: $line / 2 $line $line / 2 $line / 2;
      align-self: flex-start;
      position: relative;
    }

    #rss {
      display: flex;
      flex-direction: column;
      padding: $line / 2;
      background: transparentize($yellow, 0.6);
      font: {
        size: $line * 1.6;
      }
      border-left: $line / 2 solid transparentize($green, 0.4);
      box-shadow: $shadow;

      .heading {
        text-align: center;
        flex-grow: 1;
        font: {
          family: Ico;
          size: $line * 1.8;
          weight: bold;
        }

        span {
          color: $green;
        }
      }

      .centner {
        display: flex;
        justify-content: space-around;

        #rss-email,
        .rss-confirm {
          text-align: center;
        }

        #rss-email {
          flex-basis: 30%;
          background-color: transparent;
          color: $grey;
          font: {
            size: $line * 1.5;
          }
          border: none;
          outline: none;
          box-shadow: inset 0 $line / -5 0 0 $grey;
          transition: {
            duration: $time;
          }
          margin: 0 $line / 2 0 0;
          align-self: flex-end;
          padding: 0 $line / 2 $line / 2;

          &:focus {
            color: black;
            box-shadow: inset 0 $line * -0.3 0 0 black;
          }
        }

        .rss-confirm {
          @include buttonVarial(lighten($green, 10%));
          //padding: $line / 2 $line;
          color: transparentize(black, 0.2);

          transition: {
            duration: $time;
            timing-function: linear;
          }
        }
      }

      input[type="submit"] {
        display: none;
      }
    }

    .link {
      display: flex;
      align-items: center;
      height: $line * 6;
      padding:  $line / 2 $line;
      margin-right: 0;
      right: $line / 2;
      background: transparentize($yellow, 0.6);
      font: {
        family: Ico;
        size: $line * 1.6;
        weight: bold;
      }
      border-left: $line / 2 solid transparentize($green, 0.4);
      box-shadow: $shadow;
      text: {
        decoration: none;
        align: center;
      }
      color: black;
      font: {
        size: $line * 1.7;
        weight: bold;
      }

      &::before {
        display: block;
        width: 80%;
        height: $line / 5;
        position: absolute;
        right: 0;
        bottom: $line;
        content: "";
        background: {
          color: black;
        }
        transform: scaleX(0);
        transform-origin: right;
        transition: {
          duration: $time;
        }
      }

      &::after {
        display: block;
        width: 80%;
        height: $line / 5;
        position: absolute;
        left: 0;
        top: $line;
        content: "";
        background: {
          color: black;
        }
        transform: scaleX(0);
        transform-origin: left;
        transition: {
          duration: $time;
        }
      }

      &:hover {

        &::before,
        &::after {
          transform: scale(1);
        }
      }
    }

    #main-menu {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
      align-content: flex-end;

      .menu-item {
        display: block;
        position: relative;
        padding: $line;
        margin: 0 $line / 2 0 0;
        background: {
          image: linear-gradient(135deg, $darkGreen $line, white $line, white);
        }
        color: $darkGreen;
        text: {
          decoration: none;
          align: center;
        }
        font: {
          size: $line * 2;
        }
        transition: {
          duration: $time;
          timing-function: linear;
        }
        transform: {
          origin: center;
        }

        strong {
          display: block;
          transition: {
            duration: $time;
          }
        }

        .top,
        .right,
        .bottom,
        .left {
          display: block;
          transition: {
            duration: $time;
            timing-function: linear;
          }
          position: absolute;
          background: {
            color: $darkGreen;
          }
        }

        .top {
          top: 0;
          transform: {
            origin: left;
          }
        }

        .bottom {
          bottom: 0;
          transform: {
            origin: right;
          }
        }

        .left {
          left: 0;
          transform: {
            origin: top;
          }
        }

        .right {
          right: 0;
          transform: {
            origin: bottom;
          }
        }

        .left,
        .right {
          transform: scaleY(0);
          height: 100%;
          width: $line * 0.3;
          bottom: 0;
        }

        .top,
        .bottom {
          left: 0;
          height: $line * 0.3;
          width: 100%;
        }

        &:hover {
          background: {
            image: linear-gradient(320deg, $darkGreen $line, white $line, white);
          }
          transform: scaleY(1.2);

          strong {
            transform: scaleY(0.833);
            color: $green;
          }

          .top,
          .bottom {
            transform: scaleX(0);
          }

          .right,
          .left {
            transform: scaleY(1);
          }
        }

        &#show-schedule {
          cursor: pointer;
        }
      }
    }
  }

  main {
    padding: 0 $line * 10 0;
  }

  footer {
    display: flex;
    justify-content: center;

    .jonco-link {
      position: relative;
      padding: $line;
      margin: $line * 4 0 $line * 3 0;
      background: transparentize($blue, 0.3);
      box-shadow: $shadow;
      transition: {
        duration: $time;
        timing-function: linear;
      }

      &:hover {
        transform: scale(1.1);
        transform: {
          origin: bottom;
        }
        background: {
          color: $blue;
        }

        &::after {
          transform: none;
        }

        &::before {
          transform: scale(0);
          transform: {
            origin: center;
          }
          opacity: 0;
        }
      }

      &::after {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 5px;
        background: {
          color: white;
        }
        transform: scaleX(0);
        transform: {
          origin: center;
        }
        transition: {
          duration: $time;
        }
      }

      &::before {
        position: absolute;
        top: -25px;
        left: 20%;
        display: block;
        content: "Developed by:";
        width: 60%;
        text: {
          align: center;
        }
        font: {
          size: $line * 2.1;
          weight: bold;
          family: "Times New Roman", sans-serif;
        }
        color: black;
        transition: {
          duration: $time;
          timing-function: linear;
          delay: $time / 2;
        }
      }

      .jonco-logo {
        height: 55px;
      }
    }
  }
}