@import "templates/variables";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: {
    color: transparentize(whitesmoke, 0.1);
    image: url("../images/bg.png");
    size: cover;
    position: center;
    blend-mode: overlay;
    attachment: fixed;
  }
  @include noScroll;

  #up-button {
    @include button($darkYellow);
    position: fixed;
    bottom: 40%;
    right: $line / 2;
    width: $line * 5;
    height: $line * 5;
    border: {
      radius: 50%;
      width: $line / 5;
      style: solid;
      color: $yellow;
      top-color: $blue;
      right-color: $green;
      bottom-color: $darkBlue;
    }
    font: {
      size: $line * 2;
      family: Ico;
      weight: normal;
    }
    color: $green;
  }

  #schedule {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: {
      x: hidden;
      y: scroll;
    }
    background: {
      color: white;
    }
    z-index: 10;
    transform: translateY(-100%);
    transition: {
      duration: $time * 3;
    }
    @include noScroll;

    nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      height: 10%;

      button {
        flex-basis: 15%;
        margin: 0 0 0 $line;
        @include button($green);
        border: {
          radius: 0;
        }

        &.current {
          @include button($darkYellow);
          border: {
            radius: 0;
          }
        }
      }
    }

    [class$="course"] {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      table {
        border: {
          collapse: collapse;
        }
        margin: $line;

        caption {
          font: {
            size: $line * 2;
            weight: bold;
          }
          color: $darkYellow;
        }

        tr {

          th {
            text: {
              align: center;
            }
            padding: $line / 2;
            background: transparentize($yellow, 0.5);
            border: $line / 2 solid white;
          }

          td {
            background: {
              color: transparentize($darkYellow, 0.9);
            }
            border: $line / 5 solid transparentize($yellow, 0.5);
            padding: $line / 2;

            &:last-of-type {
              border-right: none;
            }
          }

          &:last-of-type {
            td {
              border-bottom: none;
            }
          }
        }
      }
    }

    &.show {
      transform: none;
    }

    .close {
      @include button($darkBlue);
      position: absolute;
      top: $line * 2;
      right: $line * 2;
      padding: $line;
    }
  }

  header {
    display: flex;
    background: {
      color: transparentize(white, 0.5);
    }
    padding: 0 0 $line $line;
    margin: 0 0 $line 0;
    box-shadow: 0 $line / 5 $line / 2 0 $darkGreen;

    .logo {
      height: $line * 15;
    }

    #rss,
    .link {
      position: absolute;
      top: $line;
    }

    #rss {
      right: $line * 12.5;
    }

    .link {
      display: block;
      width: $line * 10;
      right: $line;
    }

    #main-menu {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
      align-content: flex-end;

      .menu-item {
        display: block;
        position: relative;
        padding: $line;
        margin: 0 $line / 2 0 0;
        background: {
          image: linear-gradient(315deg, $darkGreen $line, white $line, white);
        }
        color: $darkGreen;
        text: {
          decoration: none;
          align: center;
        }
        font: {
          size: $line * 2;
        }
        transition: {
          duration: $time / 2;
          timing-function: linear;
        }
        transform: {
          origin: center;
        }

        strong {
          display: block;
          transition: {
            duration: $time / 2;
          }
        }

        .top,
        .right,
        .bottom,
        .left {
          display: block;
          transition: {
            duration: $time / 2;
            timing-function: linear;
          }
          position: absolute;
          background: {
            color: $darkGreen;
          }
        }

        .top {
          top: 0;
          transform: {
            origin: left;
          }
        }

        .bottom {
          bottom: 0;
          transform: {
            origin: right;
          }
        }

        .left {
          left: 0;
          transform: {
            origin: top;
          }
        }

        .right {
          right: 0;
          transform: {
            origin: bottom;
          }
        }

        .left,
        .right {
          transform: scaleY(0);
          height: 100%;
          width: $line * 0.3;
          bottom: 0;
        }

        .top,
        .bottom {
          left: 0;
          height: $line * 0.3;
          width: 100%;
        }

        &:hover {
          background: {
            image: linear-gradient(140deg, $darkGreen $line, white $line, white);
          }
          transform: scaleY(1.2);

          strong {
            transform: scaleY(0.833);
            text-shadow: $line / 10 0 0 $green;
          }

          .top,
          .bottom {
            transform: scaleX(0);
          }

          .right,
          .left {
            transform: scaleY(1);
          }
        }
      }
    }
  }

  main {
    padding: 0 $line * 10 0;
  }

  footer {
    display: flex;
    justify-content: center;

    .jonco-link {
      position: relative;
      padding: $line;
      margin: $line * 4 0 $line * 3 0;
      background: transparentize($blue, 0.3);
      box-shadow: $shadow;
      transition: {
        duration: $time;
        timing-function: linear;
      }

      &:hover {
        transform: scale(1.1);
        transform: {
          origin: bottom;
        }
        background: {
          color: $blue;
        }

        &::after {
          transform: none;
        }

        &::before {
          transform: scale(0);
          transform: {
            origin: center;
          }
          opacity: 0;
        }
      }

      &::after {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 5px;
        background: {
          color: white;
        }
        transform: scaleX(0);
        transform: {
          origin: center;
        }
        transition: {
          duration: $time;
        }
      }

      &::before {
        position: absolute;
        top: -25px;
        left: 20%;
        display: block;
        content: "Developed by:";
        width: 60%;
        text: {
          align: center;
        }
        font: {
          size: $line * 2.1;
          weight: bold;
          family: "Times New Roman", sans-serif;
        }
        color: black;
        transition: {
          duration: $time;
          timing-function: linear;
          delay: $time / 2;
        }
      }

      .jonco-logo {
        height: 55px;
      }
    }
  }
}