@import "templates/variables";

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .contacts-table {
    margin-right: $line * 2;
    justify-content: flex-start;
    flex-grow: 5;

    table {
      width: 100%;
      border: {
        collapse: separate;
      }
      box-shadow: $shadow;
      margin: 0 0 $line 0;

      caption {
        width: 100%;
        padding: $line 0;
        margin: 0 0 $line 0;
        background: transparentize($yellow, 0.4);
        font: {
          size: $line * 1.7;
          weight: bold;
        }
        text-align:  left;
        border-left: $line / 2 solid transparentize($green, 0.4);
        box-shadow: $shadow;

        &:first-letter {
          margin-left: $line;
        }
      }

      th,
      td {
        padding: $line / 2;
      }

      th {
        border: {
          right: $line / 2 solid transparentize($green, 0.5);
        }
        text: {
          align:  right;
        }
      }

      td {
        text: {
          align: left;
        }
      }
    }
  }

  .feedback {
    flex-basis: 40%;
    flex-grow: 1;
    max-width: 650px;

    #feedback-form {

      fieldset {
        border: none;
        font: {
          weight: bold;
        }
        padding: 0;

        legend {
          box-shadow:
                  $shadow,
                  inset $line / 2 0 0 0 $blue;
          background: {
            color: transparentize($blue, 0.5);
          }
          text: {
            align: center;
          }
          padding: $line 0;
          margin: 0 auto $line;
          width: 100%;
        }

        &.form-inputs {
          border: {
            bottom: none;
          }

          label {
            display: flex;
            flex-direction: column;
            background: {
              color: transparentize($blue, 0.4);
            }
            padding: $line;
            margin: 0 0 $line / 2;
            box-shadow: $shadow;

            &:first-of-type {
              border: {
                top: {
                  left-radius: $line;
                  right-radius: $line;
                }
              }
            }

            &:last-of-type {
              border: {
                bottom: {
                  right-radius: $line;
                  left-radius: $line;
                }
              }
            }

            textarea {
              resize: none;
            }

            input,
            textarea {
              border: {
                radius: $line / 2;
              }
              padding: $line;
              border: none;
              outline: none;
            }

            span {
              margin: 0 0 $line / 2 $line;
            }
          }
        }

        &.form-buttons {
          margin: $line / 2 0 0 0;
          border: {
            top: none;
          }
          text: {
            align: center;
          }

          input {
            display: none;
          }

          label {
            @include buttonVarial($blue);
            width: 45%;
            transition-duration: $time;
            transition-timing-function: linear;
          }
        }
      }
    }
  }
}




