$line: 10px;
$time: 0.3s;

$blue: #6da8d7;
$darkBlue: #6b39ff;
$darkGreen: #008700;
$green: #00cd00;
$yellow: #ebec06;
$darkYellow: #edcb00;

@mixin button($color: $darkYellow) {
  font: {
    weight: bold;
  }
  border: none;
  border: {
    radius: $line;
  }
  text: {
    align: center;
  }
  color: black;
  outline: none;
  transition: {
    duration: $time;
    timing-function: linear;
  }
  background: {
    color: transparentize($color, 0.7);
  }
  cursor: pointer;

  &:hover {
    background: {
      color: transparentize($color, 0.5);
    }
    box-shadow: 0 0 0 $line / 2 transparentize($color, 0.8);
  }
}