$line: 10px;
$time: 0.3s;

$blue: #5db9e9;
$darkBlue: #3324bb;
$darkGreen: #008700;
$green: #00cd00;
$yellow: #ebec06;
$darkYellow: #e68e00;
$grey: #a3a3a3;
$shadow: $line / 2 $line / 2 $line / 2 0 grey;

@font-face {
  font-family: Ico;
  src: url("../../fonts/ico.ttf");
}

@mixin button($color: $darkYellow) {
  font: {
    weight: bold;
  }
  border: none;
  border: {
    radius: $line;
  }
  text: {
    align: center;
  }
  color: black;
  outline: none;
  transition: {
    duration: $time;
    timing-function: linear;
  }
  background: {
    color: transparentize($color, 0.7);
  }
  cursor: pointer;

  &:hover {
    background: {
      color: transparentize($color, 0.5);
    }
    box-shadow: 0 0 0 $line / 2 transparentize($color, 0.8);
  }
}

@mixin buttonVarial($color: $blue) {
  display: inline-block;
  background: {
    image: linear-gradient(1deg * random(360), lighten($color, 10%), darken($color, 10%));
  }
  border: {
    radius: $line;
  }
  font: {
    weight: bold;
  }
  opacity: 0.8;
  padding: $line;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:focus,
  &:active {
    background: {
      image: linear-gradient(1deg * random(360), darken($color, 10%), lighten($color, 10%));
    }
  }
  }

@mixin textBlock($color: $green) {
  background: transparentize($color, 0.8);
  box-shadow: $shadow;

  h3 {
    background: transparentize($color, 0.6);
    margin: -1px 0 0 0;
    padding: $line / 2 0 $line $line * 2;
    box-shadow: $shadow;
    border-left: $line / 2 solid $color;
  }

  p {
    margin: 0;
    padding: 0 $line $line $line;
  }

  p:first-of-type {
    padding: $line;
  }

  p:first-letter {
    margin: 0 0 0 $line;
  }

  ul {
    margin: 0;

    li {
      padding: $line / 2;
    }
  }
}

@mixin noScroll() {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@mixin scroll() {
  &::-webkit-scrollbar {
    width: 0;

    &-track {

      &-piece {

      }
    }

    &-thumb {

      &:hover {

      }

      &:active {

      }
    }
  }
}